.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: transparent;
  border: none;
  box-shadow: none;
}

.gm-style .gm-style-iw-tc::after {
    background: transparent;
    border: none;
    box-shadow: none;
}


.gm-style .gm-style-iw-d {
  height: 328px;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}


